In [1]:
import pandas as pd

df = pd.read_csv('C:/Users/thous/OneDrive/Desktop/NUH/test.csv', encoding= 'utf-8')

df1 = df.filter(['Enter Room', 'Exit Room'], axis=1)

df1[['Enter Room', 'Entertime']] = df1['Enter Room'].str.split(' ', expand=True)
df1[['Exit Room', 'Exittime']] = df1['Exit Room'].str.split(' ', expand=True)

df1.head()

   Enter Room   Exit Room Entertime Exittime
0  02-01-2020  02-01-2020     09:00    12:59
1  02-01-2020  02-01-2020     13:15    17:49
2  02-01-2020  02-01-2020     09:22    15:57
3  03-01-2020  03-01-2020     09:56    13:47
4  03-01-2020  03-01-2020     08:51    13:49

In [2]:
df['Enter Room'] = pd.to_datetime(df['Enter Room'], format = '%d-%m-%Y %H:%M')

df.head()

           Enter Room         Exit Room Room   Team Category
0 2020-01-02 09:00:00  02-01-2020 12:59    X   Beta       IV
1 2020-01-02 13:15:00  02-01-2020 17:49    X   Beta       IV
2 2020-01-02 09:22:00  02-01-2020 15:57    Y   Beta       IV
3 2020-01-03 09:56:00  03-01-2020 13:47    X  Alpha      III
4 2020-01-03 08:51:00  03-01-2020 13:49    Y   Beta       IV

In [3]:
df['Day'] = df['Enter Room'].dt.day_name()
df

             Enter Room         Exit Room Room   Team Category        Day
0   2020-01-02 09:00:00  02-01-2020 12:59    X   Beta       IV   Thursday
1   2020-01-02 13:15:00  02-01-2020 17:49    X   Beta       IV   Thursday
2   2020-01-02 09:22:00  02-01-2020 15:57    Y   Beta       IV   Thursday
3   2020-01-03 09:56:00  03-01-2020 13:47    X  Alpha      III     Friday
4   2020-01-03 08:51:00  03-01-2020 13:49    Y   Beta       IV     Friday
..                  ...               ...  ...    ...      ...        ...
204 2020-04-29 08:57:00  29-04-2020 14:10    X   Beta       IV  Wednesday
205 2020-04-29 12:34:00  29-04-2020 17:45    Y   Beta       IV  Wednesday
206 2020-04-30 10:00:00  30-04-2020 11:01    X   Beta        I   Thursday
207 2020-04-30 11:33:00  30-04-2020 17:48    X   Beta       IV   Thursday
208 2020-04-30 12:17:00  30-04-2020 14:33    Y   Beta       II   Thursday

[209 rows x 6 columns]

In [4]:
df['Exit Room'] = pd.to_datetime(df['Exit Room'], format = '%d-%m-%Y %H:%M')
df.head()

           Enter Room           Exit Room Room   Team Category       Day
0 2020-01-02 09:00:00 2020-01-02 12:59:00    X   Beta       IV  Thursday
1 2020-01-02 13:15:00 2020-01-02 17:49:00    X   Beta       IV  Thursday
2 2020-01-02 09:22:00 2020-01-02 15:57:00    Y   Beta       IV  Thursday
3 2020-01-03 09:56:00 2020-01-03 13:47:00    X  Alpha      III    Friday
4 2020-01-03 08:51:00 2020-01-03 13:49:00    Y   Beta       IV    Friday

In [5]:
df['time_diff'] = df['Exit Room']-df['Enter Room']
df.head()

,Enter Room,Exit Room,Room,Team,Category,Day,time_diff
0,2020-01-02 09:00:00,2020-01-02 12:59:00,X,Beta,IV,Thursday,03:59:00
1,2020-01-02 13:15:00,2020-01-02 17:49:00,X,Beta,IV,Thursday,04:34:00
2,2020-01-02 09:22:00,2020-01-02 15:57:00,Y,Beta,IV,Thursday,06:35:00
3,2020-01-03 09:56:00,2020-01-03 13:47:00,X,Alpha,III,Friday,03:51:00
4,2020-01-03 08:51:00,2020-01-03 13:49:00,Y,Beta,IV,Friday,04:58:00

In [6]:
df1.head()

   Enter Room   Exit Room Entertime Exittime
0  02-01-2020  02-01-2020     09:00    12:59
1  02-01-2020  02-01-2020     13:15    17:49
2  02-01-2020  02-01-2020     09:22    15:57
3  03-01-2020  03-01-2020     09:56    13:47
4  03-01-2020  03-01-2020     08:51    13:49

In [7]:
df1['Entertime'] = pd.to_datetime(df1['Entertime'], format = '%H:%M')
df1['Exittime'] = pd.to_datetime(df1['Exittime'], format = '%H:%M')

from datetime import datetime

start = datetime.strptime('09:00:00', '%H:%M:%S')
end = datetime.strptime('17:30:00', '%H:%M:%S')

def out(df1):
    if df1['Entertime'] < start: 
        return 'before'
    elif df1['Exittime'] > end:
        return 'after'
    else:
        return 'no'
    
df1['outside hours'] = df1.apply(out, axis=1)

df1.head()

,Enter Room,Exit Room,Entertime,Exittime,outside hours
0,02-01-2020,02-01-2020,1900-01-01 09:00:00,1900-01-01 12:59:00,no
1,02-01-2020,02-01-2020,1900-01-01 13:15:00,1900-01-01 17:49:00,after
2,02-01-2020,02-01-2020,1900-01-01 09:22:00,1900-01-01 15:57:00,no
3,03-01-2020,03-01-2020,1900-01-01 09:56:00,1900-01-01 13:47:00,no
4,03-01-2020,03-01-2020,1900-01-01 08:51:00,1900-01-01 13:49:00,before

In [8]:
df['outside hours'] = df1['outside hours']

df.head()

,Enter Room,Exit Room,Room,Team,Category,Day,time_diff,outside hours
0,2020-01-02 09:00:00,2020-01-02 12:59:00,X,Beta,IV,Thursday,03:59:00,no
1,2020-01-02 13:15:00,2020-01-02 17:49:00,X,Beta,IV,Thursday,04:34:00,after
2,2020-01-02 09:22:00,2020-01-02 15:57:00,Y,Beta,IV,Thursday,06:35:00,no
3,2020-01-03 09:56:00,2020-01-03 13:47:00,X,Alpha,III,Friday,03:51:00,no
4,2020-01-03 08:51:00,2020-01-03 13:49:00,Y,Beta,IV,Friday,04:58:00,before

In [9]:
df['time_diff'] = df['time_diff'].astype(str).str[-18:-10]

df.head()

,Enter Room,Exit Room,Room,Team,Category,Day,time_diff,outside hours
0,2020-01-02 09:00:00,2020-01-02 12:59:00,X,Beta,IV,Thursday,03:59:00,no
1,2020-01-02 13:15:00,2020-01-02 17:49:00,X,Beta,IV,Thursday,04:34:00,after
2,2020-01-02 09:22:00,2020-01-02 15:57:00,Y,Beta,IV,Thursday,06:35:00,no
3,2020-01-03 09:56:00,2020-01-03 13:47:00,X,Alpha,III,Friday,03:51:00,no
4,2020-01-03 08:51:00,2020-01-03 13:49:00,Y,Beta,IV,Friday,04:58:00,before

In [10]:
df.to_csv(r"C:\Users\thous\OneDrive\Desktop\NUH\test_analysis.csv", encoding='utf-8', index=False)